* {
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: white
}

html, body {
	height: 100%;
	width: 100%;
}


.title {
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: fit-content;
	text-align: center;
}

@media (orientation: landscape) {
	.title {
		font-size: 2.4rem;
	}
}
@media (orientation: portrait) {
	.title {
		font-size: 4.8rem;
	}
}

.notify {
	color: black;
	font-size: 1rem;
	background-color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 40rem;
	width: fit-content;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: .5em;
	margin-top: 1em;
	border: solid white 1px
}

@media (orientation: landscape) {
	.notify {
		font-size: 1rem;
	}
}

@media (orientation: portrait) {
	.notify {
		font-size: 1.5rem;
	}
}

.article {
	display: block;
	color: white;
	border-left: solid white 1px;
	border-right: solid white 1px;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	padding: .5rem;
}
@media (orientation: landscape){
	.article {
		width: 40rem;
	}
}

@media (orientation: portrait) {
	.article {
		font-size: 1.7rem;
		width: 95vw;
	}
}

.article-text {
	margin-top: .7em;
}

.article-text:first-child {
	margin-top: 0;
}
body {
	display: flex;
	flex-direction: column;
}

.footer {
	display: flex;
	flex-direction: row;
	margin-top: auto;
	padding: 2em 0;
	font-size: .9rem;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

